
body {
    font-family: Arial, sans-serif;
    background-color: rgb(235, 25, 95);
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#photo-container {
    margin-bottom: 20px;
}

#random-photo {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#fetch-user-btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: rgb(235, 25, 95);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fetch-user-btn:hover {
    background-color: purple ;
}
